.Actions-Left-CheckPointSummary-File {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 10px 15px;
  outline: none !important;
  border-bottom: 1px #ebeae6 solid;
  transition: background-color 0.3s ease;
}

.Actions-Left-CheckPointSummary-File:hover {
  background-color: #f8f7f5;
}

.Actions-Left-CheckPointSummary-Left {
  display: flex;
  align-items: center;
}

.Actions-Left-CheckPointSummary-Left > h4 {
  margin: 0 0 0 5px;
  font-size: 16px;
  margin-left: 10px;
  color: #7d7d7d;
}

.Actions-Left-CheckPointSummary-File-Count {
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  color: #fff;
  background-color: red;
  border-radius: 10px;
  padding: 3px 7px;
}
