.Left-GeneralInfos-Pictos {
  display: flex;
  justify-content: space-between;
}

.Left-GeneralInfos-Picto {
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding: 3px 5px;
}

.Left-GeneralInfos-Picto:hover {
  background-color: #f8f7f5;
}

.Left-GeneralInfos-Title {
  margin-top: 11px;
}

.Left-GeneralInfos-Status {
  font-size: 1rem;
  background-color: red;
  color: #fff;
  padding: 1px 4px;
  border-radius: 4px;
  position: absolute;
  top: 2px;
  right: 4px;
}

.Left-GeneralInfos-Picto > p {
  margin-left: 6px;
  font-weight: 500;
  user-select: none;
}
