{
  "env": {
    "browser": true,
    "jest": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".ts", ".tsx"]
      }
    }
  },
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".tsx"] }],
    "react/destructuring-assignment": [
      1,
      "always",
      { "ignoreClassFields": true }
    ],
    "linebreak-style": [0, "windows"],
    "jsx-a11y/label-has-for": [
      2,
      {
        "components": ["label"],
        "required": {
          "every": ["id"]
        },
        "allowChildren": false
      }
    ]
  }
}
