.Input-Label {
  margin-bottom: 5px;
  margin-top: 0;
  font-size: 13px;
  font-weight: 700;
  color: #767676;
}

.Input {
  border: 1px solid #e2e2e4;
  box-shadow: none;
  outline: none;
  color: #c2c2c2;
  transition: bakground-color 0.2s ease;
}

.Input:not(.Input-Error-Msg):focus {
  border-color: #1fb5ad;
  box-shadow: none;
}

.Input:disabled {
  background-color: #eee;
}

.Input-Error-Msg {
  color: #fa8564;
  margin-top: 3px;
  font-size: 12px;
  text-align: right;
  min-height: 18px;
}
