.SecondaryData-Container {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  padding: 0;
}

.SecondaryData-Items {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.SecondaryData-Item {
  flex: 1;
  text-align: center;
  color: #7d7d7d;
  padding: 18px 0px;
  font-size: 13px;
  transition: background-color 0.2s ease;
  transition: border-bottom-color 0.2s ease;
  border-bottom: 2px transparent solid;
  user-select: none;
  cursor: not-allowed;
  outline: none;
}

.SecondaryDataSelectable {
  cursor: pointer;
}

.SecondaryDataSelectable:hover {
  background-color: #16a0e033;
}

.SecondaryData-Item-Selected {
  background-color: #16a0e033;
  border-bottom-color: #16a0e0;
}

.SecondaryData-Separator {
  width: 1px;
  margin: 13px 0px;
  background-color: #e6e6e6;
}
