.Comments-Container {
  position: fixed;
  right: 0;
  bottom: 50px;
  height: calc(100% - 59px - 80px);
  width: 525px;
  max-width: 100%;
  transition: transform 0.2s ease, box-shadow;
  border: 1px #f9f9f9 solid;
  border-top-left-radius: 5px;
  box-shadow: 2px 5px 8px 1px #4a4949;
  background-color: #fff;
}

.Comments-Container_Closed {
  transform: translate(525px);
  box-shadow: none;
}

.Comments-Container_Opened {
  transform: translate(0);
  box-shadow: 3px 5px 8px 0px #4a4949;
  border: 1px #fbfbfb solid;
}

.Comments-Container-Inner {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.Comments-closebutton {
  position: absolute;
  right: 20px;
  top: 5px;
  padding: 3px 7px;
  border-radius: 4px;
  background-color: #fff8;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.Comments-closebutton:hover {
  background-color: #4444;
}

.Comments-List {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 0;
}
