.Accordion-Box {
  display: flex;
  position: relative;
}

.Accordion-Files {
  width: 190px;
  margin: 20px;
}

.Accordion-CheckPoints {
  flex: 1;
  min-width: 240px;
  margin: 20px 10px 20px 0px;
}

.Accordion-Button-Position {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
