.CheckPoints-CheckPoint-Container {
  margin-left: 2px;
}

.CheckPoints-Table th {
  padding: 0 5px;
  font-size: 14px;
}
.CheckPoints-Table .CheckPoints-Table-Center {
  text-align: center;
}

.CheckPoints-CheckPoint-Label {
  margin-left: 9px;
}
