.Alert-Container {
  position: fixed;
  bottom: 0;
  right: 0;
}

.Alert-Toast {
  display: flex;
  justify-content: space-between;
  margin: 0 30px 20px 30px;
  background-color: #d9edf7;
  padding: 10px 20px;
  border-radius: 4px;
}

.Alert-Message {
  color: #31708f;
  width: 350px;
}

.Alert-Toast > button {
  background: none;
  cursor: pointer;
  border: none;
  outline: none;
  color: #000;
  opacity: 0.2;
}

.Alert-Toast-Error {
  background-color: #f2dede;
}

.Alert-Toast-Error > p {
  color: #a94442;
}

.Alert-Toast-Warning {
  background-color: #fcf8e3;
}

.Alert-Toast-Warning > p {
  color: #8a6d3b;
}

.Alert-Toast-Warning {
  background-color: #fcf8e3;
}

.Alert-Toast-Warning > p {
  color: #8a6d3b;
}
