.Folder-Header {
  padding: 0px 0px 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #0000;
  transition: border-bottom 0.2s ease;
}

.Folder-Header > a {
  color: #32323a;
  font-size: 14px;
  margin-left: 12px;
}

.Folder-Header > a:hover {
  opacity: 0.8;
}

.Folder-Header-border {
  border-bottom: 1px solid #cfcfcf;
}

.Folder-Header-NotigBadge {
  position: absolute;
  right: 22px;
  top: 7px;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 7px;
}

.Folder-Header-Button-Icon {
  background-color: #f6f6f6;
  cursor: pointer;
  border-radius: 25px;
  transition: background-color, 0.2s ease;
  border: none;
  box-shadow: none !important;
  height: 37px;
  width: 37px;
}

.Folder-Header-Button-Icon:hover {
  background-color: #32d2c9;
}

.Folder-Header-Button-Icon:active {
  background-color: #ffff;
}

.Folder-Header-Button-Icon:focus {
  outline: none;
  box-shadow: none;
  border: none;
}

.Folder-Header-MessageOverlay {
  position: absolute;
  top: 5px;
  right: 40px;
  padding: 10px;
  width: 300px;
  z-index: 1;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
}

.Folder-Header-MessageOverlay > p {
  padding: 0 0 10px;
  color: #767676;
}

.Folder-Header-MessageOverlay > div {
  padding: 10px;
  background-color: #f1f2f7;
  border-radius: 5px;
}

.Folder-Header-MessageOverlay > div > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Folder-Header-MessageOverlay > div > div > h2 {
  color: #333;
  font-size: 12px;
  font-weight: 600;
}

.Folder-Header-MessageOverlay > div > div > h3 {
  color: #333;
  font-size: 11px;
  font-weight: 600;
  font-style: italic;
}

.Folder-Header-MessageOverlay > div > p {
  color: #333;
  font-size: 11px;
}

.Folder-ScrollView:not([data-scroll='0']) {
  .Folder-Header {
    border-bottom: 1px solid black;
  }
}
