.MissingFile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px 10px 25px;
}

.MissingFile-icon {
  font-size: 30px;
}

.MissingFile-title {
  margin-bottom: 20px;
  text-align: center;
}

.MissingFile-buttons {
  display: flex;
  justify-content: center;
}

.MissingFile-buttons > button {
  margin: 0 5px;
}

.MissingFile-infos {
  flex: 1;
  justify-content: center;
  align-items: center;
}
