.Footer-container {
  width: 100%;
  padding: 10px 80px;
  background-color: #444;
  box-sizing: border-box;
}

@media only screen and (max-width: 850px) {
  .Footer-container {
    padding: 10px 5px 10px 10px;
  }
}

@media only screen and (max-width: 800px) {
  .Footer-always-visible > p {
    display: none;
  }
}

.Footer-always-visible {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Footer-always-visible > p {
  color: #fff;
  font-size: 9px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}

.Footer-always-visible > button {
  color: #fff;
  border-color: #fff;
  background-color: transparent;
  font-size: 9px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}

.Footer-always-visible > button:hover {
  color: #dbdbdb;
}

.Footer-always-visible > button:active {
  color: #ababab;
  border-color: #ababab;
}

.Footer-always-visible > button:focus {
  color: #dbdbdb;
  border-color: #dbdbdb;
  outline: none;
  box-shadow: none;
}

.Footer-selector {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 50px;
  margin-left: calc(50% - 25px);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: #444;
}

.Footer-selector > button {
  background-color: transparent;
  border: none;
  outline: none;
  border: none;
  box-shadow: none;
  color: #fff;
  margin-top: 5px;
}

.Footer-selector > button:hover {
  color: #dbdbdb;
}

.Footer-selector > button:active {
  color: #ababab;
}

.Footer-selector > button:focus {
  color: #dbdbdb;
}

.Footer-selector > button:focus:not(:active) {
  box-shadow: none;
}

.Footer-selector > button {
  background-color: transparent;
  border: none;
  color: #fff;
  margin-top: 5px;
}

.Footer-selector-icon {
  transition: transform 0.4s ease;
}

.Footer-down {
  transform: rotate(180deg);
}

.Footer-hacked-space {
  height: 60px;
  width: 100%;
}

.Footer-fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.Footer-usefull-links {
  color: #fff;
}
