$family-sans-serif: 'Montserrat', BlinkMacSystemFont, -apple-system, 'Segoe UI',
  'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
  'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

$green: #95b75d;
$turquoise: #1fb5ad;
$yellow: #e4ba00;
$orange: #ec6459;
$cyan: #57c8f1;

@import '~bulma/bulma.sass';
