.Router-App-Loading-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.Router-App-Container {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
}

.Router-background {
  display: flex;
  justify-content: center;
  background-image: url(https://www.sonergia.fr/img/BG/BG_sonergia-tools_Facilitin_1920x1080.jpg);
  height: calc(100vh - 80px - 60px);
  overflow: auto;
  background-size: cover;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
}

.Router-content-centered {
  background-color: #fff0;
  max-width: 1300px;
  width: calc(100vw - 30px - 40px);
}
