.Router-App-Loading-Container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Router-App-Container {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 30px;
  right: 30px;
}
